<ul>
  <li *ngFor="let dances  of dances">
    <div class="card" style="border-radius: 15px; padding: 15px; margin: 20px; background-color: rgb(241, 241, 241);">
    <a routerLink="/stage/{{dances.id}}">
      <img [src]="dances.image || ''" [alt]="dances?.name" />
    </a>
      <div class="content">
        <p class="small-text-muted">wedding dances</p>
        <div class="name">
          <span>{{dances.name}}</span>
        </div>
        <div class="price">

            <p>{{dances.price | currency}}</p>

        </div>
      </div>

  </div>
  </li>
</ul>

