<nav class="navbar bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href=" ">
      <img src="assets/images/main-logo.png" alt="HaniDay" width="120" height="45">
    </a>
    <form class="d-flex ms-auto" role="search" style="padding-right: 1%;" >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary" type="submit" >Search</button>
    </form>

    <button class="btn" routerLink="userpage" *ngIf="!user.token" >
      <i class="bi bi-person-fill"></i>
    </button>

    <a>{{user.name}}</a>

    <button type="button" class="btn btn-link" (click)="logout()">Logout</button>

    <button class="btn" routerLink="cart">
      <i class="bi bi-cart-fill"></i>
    </button>




  </div>
</nav>


<nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #8BACD4;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 ">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Wedding
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a ngbDropdownItem class="dropdown-item" href="wedding">Wedding Stage decorations</a></li>
            <li><a ngbDropdownItem class="dropdown-item" href="table">Wedding table decorations</a></li>
            <li><a ngbDropdownItem class="dropdown-item" href="danceMusical">Dance and Musical groups</a></li>
            <li><a ngbDropdownItem class="dropdown-item" href="weddingCar">Wedding Cars</a></li>
          </ul>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Party
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a ngbDropdownItem class="dropdown-item" href="partydj">Party DJ</a></li>
            <li><a ngbDropdownItem class="dropdown-item" href="balloon">Balloon Decorations</a></li>
          </ul>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Event
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a ngbDropdownItem class="dropdown-item" href="stageDeco">Stage Decorations</a></li>
            <li><a ngbDropdownItem class="dropdown-item" href="redCarpet">Red Carpet</a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>



      </ul>
    </div>
  </div>
</nav>

