<!--
<section style="background-color: #eee;">

  <div class="container py-5" *ngFor = "let stages of stages">

    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0 ">

        <div class="card">

          <a routerLink="/stage/{{stages.id}}">
          <img [src]="stages.image"
            class="card-img-top" alt="Laptop" />
          </a>
          <div class="card-body">

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{stages.name}}</h5>
              <h5 class="text-dark mb-0">{{stages.price |currency}}</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>

            <button type="button" class="btn btn-primary">Buy now</button>

          </div>
        </div>

      </div>
    </div>

  </div>

</section>

 -->

 <ul>
  <li *ngFor="let stages  of stages">
    <div class="card" style="border-radius: 15px; padding: 15px; margin: 20px; background-color: rgb(246, 246, 246);">
    <a routerLink="/stage/{{stages.id}}">
      <img [src]="stages.image || ''" [alt]="stages?.name" />
    </a>
      <div class="content">
        <p class="small-text-muted">wedding stages</p>
        <div class="name">
          <span> Name : {{stages.name}}</span>
        </div>
        <div class="price">

            <p> Price : {{stages.price | currency}}</p>

        </div>
      </div>

  </div>
  </li>
</ul>
