<ul>
  <li *ngFor="let partyDjs  of partyDjs">
    <div class="card" style="border-radius: 15px; padding: 15px; margin: 20px; background-color: rgb(241, 241, 241);">
    <a routerLink="/stage/{{partyDjs.id}}">
      <img [src]="partyDjs.image || ''" [alt]="partyDjs?.name" />
    </a>
      <div class="content">
        <p class="small-text-muted">Party DJ</p>
        <div class="name">
          <span>{{partyDjs.name}}</span>
        </div>
        <div class="price">

            <p>{{partyDjs.price | currency}}</p>

        </div>
      </div>

  </div>
  </li>
</ul>

