<ul>
  <li *ngFor="let stageDecs  of stageDecs">
    <div class="card" style="border-radius: 15px; padding: 15px; margin: 20px; background-color: rgb(246, 246, 246);">
    <a routerLink="/stage/{{stageDecs.id}}">
      <img [src]="stageDecs.image || ''" [alt]="stageDecs?.name" />
    </a>
      <div class="content">
        <p class="small-text-muted">Stage decorations</p>
        <div class="name">
          <span> Name : {{stageDecs.name}}</span>
        </div>
        <div class="price">

            <p> Price : {{stageDecs.price | currency}}</p>

        </div>
      </div>

  </div>
  </li>
</ul>


