<ul>
  <li *ngFor="let cars  of cars">
    <div class="card" style="border-radius: 15px; padding: 15px; margin: 20px; background-color: rgb(246, 246, 246);">
    <a routerLink="/stage/{{cars.id}}">
      <img [src]="cars.image || ''" [alt]="cars?.name" />
    </a>
      <div class="content">
        <p class="small-text-muted">wedding cars</p>
        <div class="name">
          <span> Name : {{cars.name}}</span>
        </div>
        <div class="price">

            <p> Price : {{cars.price | currency}}</p>

        </div>
      </div>

  </div>
  </li>
</ul>

