<section class="vh-100" style="background-color: #eeebebb9;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/user_one.png"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="loginForm" (ngSubmit)="submit()">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">HaniDay</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>


                  <text-input
                  [control]="fc.email"
                  [showErrorsWhen]="isSubmitted"
                  type="email"
                  label="Email">
                  </text-input>

                  <text-input
                  [control]="fc.password"
                  [showErrorsWhen]="isSubmitted"
                  type="password"
                  label="Password">
                </text-input>

                <default-button text="Login"></default-button>

                <div class="register">
                  Don't have an account? &nbsp;
                  <a routerLink="/signup" [queryParams]="{returnUrl : returnUrl}">
                    Register here
                  </a>
                </div>

                  <!-- <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
                     <a href="signup"
                      style="color: #393f81;">Register here</a></p> -->

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
