<section class="h-100 h-custom" style="background-color: #f5f5f5;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Update product form</h3>

            <form class="px-md-2" *ngIf="!isLoading" #form="ngForm" (ngSubmit)="submit(form)">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" type="text" [ngModel]="product?.name" name="name" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" type="number" [ngModel]="product?.price" name="price" />
              </div>

              <hr>

              <div class="mb-4">

                <select [ngModel]="product?.type" name="type">
                  <option value="stage">Wedding stages</option>
                  <option value="table">Wedding tables</option>
                  <option value="danceMusical">Dance and musical groups</option>
                  <option value="cars">Wedding cars</option>
                  <option value="partyDj">Party DJ</option>
                  <option value="balloon">Balloon decorations</option>
                  <option value="stageDec">Stage decorations</option>
                  <option value="redcar">Red carpet</option>
                </select>

              </div>

              <p class="control">
                <button class="btn btn-success btn-lg mb-1">
                  Update product
                </button>
              </p>

              <p class="control">
                <button class="btn btn-success btn-lg mb-1" (click)="removeProduct()" >
                  Delete product
                </button>
              </p>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
