
<img src="assets/images/about_top.png" class="img-fluid" alt="..." style="padding-bottom: 3%;" width="100%">



<section id="aboutus" class="aboutus section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>About Us</h2>
          <p>vel non saepe! Eveniet nulla earum <br> impedit maiores quasi veritatis tempora commodi</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                  <img src="assets/images/about_mid_img.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
              </div>
          </div>


          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text">
                  <h2>We Provide Best Quality <br> Services Ever</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. A iusto,
                      distinctio doloremque porro harum odit illum deleniti facere molestias sequi
                      sapiente ipsum modi sint omnis repudiandae atque iste tenetur
                      vel non saepe! Eveniet nulla earum impedit maiores quasi veritatis tempora commodi.
                       Rem quae unde alias quis necessitatibus iste fugiat laboriosam! <br>
                       adipisicing elit. A iusto,
                      distinctio doloremque porro harum odit illum deleniti facere molestias sequi
                      sapiente ipsum modi sint omnis repudiandae atque iste tenetur
                      vel non saepe! Eveniet nulla earum impedit maiores quasi veritatis tempora commodi.
                       Rem quae unde alias quis necessitatibus iste fugiat laboriosam<br>
                       adipisicing elit. A iusto,
                      distinctio doloremque porro harum odit illum deleniti facere molestias sequi
                      sapiente ipsum modi sint omnis repudiandae atque iste tenetur
                      vel non saepe! Eveniet nulla earum impedit maiores quasi veritatis tempora commodi.
                       Rem quae unde alias quis necessitatibus iste fugiat laboriosam</p>

              </div>
          </div>

          <div class="col-lg-4 col-md-12 col-12">
            <div class="about-img">
                <img src="assets/images/about_mid_two.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-12">
          <div class="about-img">
              <img src="assets/images/about_mid_two.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
          </div>
      </div>

      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-img">
            <img src="assets/images/about_mid_two.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
        </div>
    </div>
      </div>
  </div>
</section>



