
<section id="about" class="about section-padding">
  <div class="container" *ngIf="Stage">
      <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                  <img [src]="Stage.image" alt="" class="img-fluid"  width="400" style="padding-top: 20%; padding-bottom: 20%;" >
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5" style="padding-top: 5%;">
              <div class="about-text">
                  <h2>
                    <span class="name">
                      {{Stage.name}}
                    </span>
                  </h2>

                  <hr>

                  <ul>
                    <li>Free shipping to anywhere in the country</li>
                  </ul>

                  <hr>


                      <span class="price"> Price =
                        {{Stage.price |currency}}
                      </span>

                    <hr>

                       <a (click)="addToCart()" class="btn btn-secondary">Add to cart</a>
              </div>


          </div>
      </div>
  </div>
</section>
