<img src="assets/images/wed-new-head.png" class="img-fluid" alt="..." style="padding-bottom: 3%;">



<section id="about" class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="assets/images/wedding_home.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>Decorate Your Wedding</h2>
                    <p>HaniDay know how important your wedding day is to you.
                      Plannig for wedding event is also a big task.
                      With over 4 years of experience we will take the stress away from you
                      and help you to plan your wedding event in proper way. Above are all the
                       wedding related services that we are providing to our clients.</p>
                       <ul>
                        <li>Wedding stage decorations</li>
                        <li>Wedding table decoration</li>
                        <li>Dance groups</li>
                        <li>Musical groups</li>
                        <li>Wedding cars</li>
                      </ul>
                         <a href="#" class="btn btn-secondary">View wedding</a>
                </div>
            </div>
        </div>
    </div>
</section>



<div id="carouselExampleIndicators" class="carousel slide" style="padding-bottom: 3%;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slide-one.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slide-two.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slide-three.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<section id="about" class="about section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                  <img src="assets/images/party_home.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text">
                  <h2>Decorate Your Birthday Party</h2>
                  <p>
                    A birthday is the anniversary of the birth of a person.
                    Birthdays of people are celebrated in numerous cultures, often with birthday gifts, birthday cards,
                    a birthday party, or a rite of passage.
                    Because a persons birthday is such a special day HaniDay will provide some services
                    for birthday parties as given below.
                    </p>
                    <ul>
                      <li>Party DJ</li>
                      <li>Balloon decoration</li>
                    </ul>

                       <a href="#" class="btn btn-secondary">View party</a>
              </div>
          </div>
      </div>
  </div>
</section>

<img src="assets/images/home_mid_two.png" class="img-fluid" alt="..." style="padding-bottom: 3%;">

<section id="about" class="about section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                  <img src="assets/images/event_home.png" alt="" class="img-fluid"  width="400" height="400" style="padding-bottom: 8%;">
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text">
                  <h2>Event Decorations</h2>
                  <p>As a creative events producer,
                    rather than wedding events we also manage corporate events, such as
                      company functions and school, university occasions.
                      Above are all the Event related services that we are providing to our clients.</p>

                      <ul>
                        <li>Stage decorations</li>
                        <li>Red carpet</li>
                      </ul>

                       <a href="#" class="btn btn-secondary">View event</a>
              </div>
          </div>
      </div>
  </div>
</section>


<section id="contact" class="contact section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Contact Us</h2>
          <p>vel non saepe! Eveniet nulla earum <br> impedit maiores quasi veritatis tempora commodi</p>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-md-12 p-0 pt-4 pb-4 ">
        <form action="#" class="bg-light p-4.m-auto">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <input type="text" class="form-control" required placeholder="Your Full name">
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <input type="email" class="form-control" required placeholder="Your Email Here">
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <textarea rows="3" required class="form-control" placeholder="Your Query Here"></textarea>
            </div>
          </div>
          <button class="btn btn-secondary btn-lg btn-block mt-3">Send Now</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>


